@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* 1. Global Styles for `body` */
body {
    font-family: 'lato', sans-serif;
    font-size: 16px;
}

/* 2. Container .back Styling */
.back {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 100px;
}

/* 3. Styling the Unordered Lists (<ul>) and List Items (<li>) */
.back ul {
    display: block;
    margin-bottom: 0;
    list-style: none;
}

.back ul li {
    white-space: nowrap;
}

.back ul li a {
    text-decoration: none;
}

/* 4. Breadcrumb History Styling (.nav-history) */
.back ul.nav-history {
    padding-left: 36px;
    padding-top: 25px;
    pointer-events: none;
}

.back ul.nav-history li {
    margin-bottom: 5px;
}

/* Bullets points for Items */
.back ul.nav-history li:after {
    content: '';
    position: absolute;
    left: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e8eaed;
    transform: scale(0.9);
    transform: all 0.2s ease;
}

/* 5. Link Styling and Active State */
.back ul.nav-history li.active {
    pointer-events: none;
}

.back ul.nav-history li.active a {
    color:#5a667f;
}

.back ul.nav-history li a {
    color: #418ad8;
    display: inline-block;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

/* 6. Menu Links Styling (.nav-links) */
.back ul.nav-links {
    position: absolute;
    margin-top: 20px;
    padding-left: 12px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease;
    pointer-events: none;
}

.back ul.nav-links li:not(:last-child) {
    margin-bottom: 5px;
}

.back ul.nav-links li a {
    font-size: 14px;
    font-weight: 600;
    color: #c8ccd4;
    transition: color 0.2s ease;
}

/* 7. Back Button Styling */
.btn-back {
    display: inline-block;
}

.btn-back div {
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #e8eaed;
    float: left;
}

/* SVG Icon Styling Inside the Button */
.btn-back div svg {
    fill: none;
    transform: translate(10px,7px);
}

.btn-back div svg path,
.btn-back div svg polyline {
    stroke: #9098a9;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}

/* 8. Button Span Text Styling */
.btn-back span {
    display: inline-block;
    color: #418ad8;
    margin-left: 10px;
    line-height: 34px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.2s ease;
}

/* 9. Hover Effects on .back Container */
.back:hover {
    width: auto;
}

.back:hover .menu-back {
    opacity: 1;
    transform: translateY(0);
}

.back:hover ul.nav-history li::after {
    background: #418ad8;
}

/* Hover Effects on Back Button (.btn-back) */
.back:hover .btn-back div {
    background: rgba(65,138,216,0.25);
}

.back:hover .btn-back div svg path,
.back:hover .btn-back div svg polyline {
  stroke: #418ad8;
}

.back:hover .btn-back span {
    transform: translateX(0);
    opacity: 1;
    color: #2b7cd2;
}

/* Hover Effects on Nav History Items (.nav-history) */
.back ul.nav-history li a:hover {
    color: #2b7cd2;
}

.back:hover ul.nav-history {
    transform: translateY(0);
    pointer-events: auto;
}

.back:hover ul.nav-history li {
    margin-bottom: 8px;
}

.back:hover ul.nav-history li::after {
    background: #418ad8;
    transform: translateY(6px);
}

.back:hover ul.nav-history li.active::after {
    background: #5a667f;
}

.back:hover ul.nav-history li a {
    opacity: 1;
    transform: translateY(0);
}

/* Hover Effects on Nav Links Items (.nav-links) */
.back:hover ul.nav-links {
    position: relative;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.back ul.nav-links li a:hover {
    color: #9098a9;
}

