/* All elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Footer section */
.footer {
    background-color: black;
    color: #fefefe;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* Heading inside the footer */
.footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Content area of the footer */
.footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}

/* Paragraphs in footer content */
.footer .content p {
    margin-bottom: 1.3rem;
}

/* Links in footer content */
.footer .content a {
    text-decoration: none;
    color: #fefefe;
}

/* Links on hover */
.footer .content a:hover {
    border-bottom: 1px solid #971717;
}

/* H4 headings in footer content */
.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
}

/* Footer element */
footer {
    text-align: center;
    margin-bottom: 2rem;
}

/* Horizontal rules in footer */
footer hr {
    margin: 2rem 0;
}

/* Styles for small screens */
@media (max-width: 767px) {
    .footer .content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .footer {
        position: unset;
    }
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
        font-size: 14px;
    }
}

/* Styles for landscape orientation */
@media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
}