/* Importing a Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Resetting Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Removing Focus Outlines */
*:focus,
*:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent; /* This removes the default focus outlines and tap highlight color for focused and active elements. */
}

/* Styling HTML and Body */
html,
body {
    display: grid;
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    place-items: center;
    background: linear-gradient(315deg, #8f3636, #d7e1ec);
}

/* Styling the Wrapper */
.wrapper {
    display: inline-flex;
}

/* Styling Icons */
.wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10PX 10PX rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); /* Adds a transition effect for animations. */
}

/* Styling Tooltips */
.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #ffffff;
    padding: 5px 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none; /* Disables pointer events. */
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Styling Tooltip Arrow */
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg); /*Moves the arrow to the correct position and rotates it. */
}

/* Hover Effects for Tooltip */
.wrapper .icon:hover .tooltip {
    top: -45px; /* Moves the tooltip upwards on hover. */
    opacity: 1; /* Makes the tooltip visible. */
    visibility: visible; /* Ensures the tooltip is visible. */
    pointer-events: auto; /* Enables pointer events.*/
}

/* Hover Effects for Icon Text Shadow */
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.01);
}

/* Hover Effects for Specific Icons */
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #3b5999;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
background: #46c1f6;
color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background: #e1306c;
color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
background: #333333;
color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
background: #e92828;
color: #fff;
}